.idea/
day1/day1.input
day2/day2.input
day3/day3.input
day4/day4.input
day5/day5.input
day6/day6.input
day7/day7.input
day8/day8.input
day9/day9.input
day10/day10.input
day11/day11.input
day12/day12.input
day13/day13.input
day14/day14.input
day15/day15.input
day16/day16.input
day17/day17.input
day18/day18.input
day19/day19.input
day20/day20.input
day21/day21.input
day22/day22.input
day23/day23.input
day24/day24.input
day25/day25.input
